<article>
    <img
            [src]="housingLocation?.photo"
            alt="Exterior photo of {{ housingLocation?.name}}"
            class="listing-photo"
            crossorigin
    />
    <section class="listing-description">
        <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
        <p class="listing-location">{{ housingLocation?.city }}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this housing location</h2>
        <ul>
            <li>Unit available: {{ housingLocation?.availableUnits }}</li>
            <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
            <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
        </ul>
    </section>
</article>
